In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame(np.random.randn(5, 4), columns=list(
    'ABCD'), index=pd.date_range('20130101', periods=5))

In [3]:
df1.loc['20130101']

A   -0.449276
B    0.957494
C    0.779212
D    0.395739
Name: 2013-01-01 00:00:00, dtype: float64

In [4]:
df1

                   A         B         C         D
2013-01-01 -0.449276  0.957494  0.779212  0.395739
2013-01-02 -0.247350 -1.525987  0.678468 -0.067942
2013-01-03 -0.832067  0.423928 -1.539631 -0.158500
2013-01-04 -1.704608 -0.172575 -0.791207 -1.624531
2013-01-05  1.346579 -0.584374  0.775893 -1.987980