In [1]:
from zipline.research import get_pricing

# 单字段、单股票

返回序列

In [2]:
df = get_pricing(
  '000002',
  start_date='2014-1-1',
  end_date='2016-2-1', # must be after run_pipeline()'s end date. Explained more in lesson 4
  fields='high'# Generally, you should use open pricing. Explained more in lesson 4
)

In [3]:
df.tail()

2016-01-26 00:00:00+00:00    24.43
2016-01-27 00:00:00+00:00    24.43
2016-01-28 00:00:00+00:00    24.43
2016-01-29 00:00:00+00:00    24.43
2016-02-01 00:00:00+00:00    24.43
Freq: C, Name: 万 科Ａ(000002), dtype: float64

# 单字段、多股票

In [4]:
df = get_pricing(
  ['000002','600645'],
  start_date='2014-1-1',
  end_date='2016-2-1', # must be after run_pipeline()'s end date. Explained more in lesson 4
  fields='high'# Generally, you should use open pricing. Explained more in lesson 4
)

In [5]:
df.tail()

                           万 科Ａ(000002)  中源协和(600645)
high
2016-01-26 00:00:00+00:00         24.43         40.20
2016-01-27 00:00:00+00:00         24.43         37.47
2016-01-28 00:00:00+00:00         24.43         36.07
2016-01-29 00:00:00+00:00         24.43         36.41
2016-02-01 00:00:00+00:00         24.43         36.67

# 多字段、单股票

In [6]:
df = get_pricing(
  '000333',
  start_date='2019-6-1',
  end_date='2019-6-21', # must be after run_pipeline()'s end date. Explained more in lesson 4
  fields=['high','low']# Generally, you should use open pricing. Explained more in lesson 4
)

In [7]:
df.tail()

                            high    low
[美的集团(000333)]
2019-06-17 00:00:00+00:00  51.25  50.39
2019-06-18 00:00:00+00:00  51.30  50.50
2019-06-19 00:00:00+00:00  52.97  52.01
2019-06-20 00:00:00+00:00  53.95  52.11
2019-06-21 00:00:00+00:00    NaN    NaN

# 多字段、多股票

In [8]:
df = get_pricing(
  ['000333','600645'],
  start_date='2019-6-1',
  end_date='2019-6-21', # must be after run_pipeline()'s end date. Explained more in lesson 4
  fields=['high','low']# Generally, you should use open pricing. Explained more in lesson 4
)

In [9]:
df.tail(6)

                                         high    low
2019-06-18 00:00:00+00:00 美的集团(000333)  51.30  50.50
                          中源协和(600645)  17.95  17.60
2019-06-19 00:00:00+00:00 美的集团(000333)  52.97  52.01
                          中源协和(600645)  18.35  17.83
2019-06-20 00:00:00+00:00 美的集团(000333)  53.95  52.11
                          中源协和(600645)  18.34  17.77