In [1]:
from zipline.pipeline import Pipeline
from zipline.pipeline.factors import SimpleMovingAverage

# Import datasets.
from zipline.pipeline.data import EquityPricing


# Define factors.
sma_10 = SimpleMovingAverage(inputs=[EquityPricing.close], window_length=10)
sma_30 = SimpleMovingAverage(inputs=[EquityPricing.close], window_length=30)

# Define a filter.
prices_over_5 = (sma_10 > 5)

# Instantiate pipeline with two columns corresponding to our two factors, and a
# screen that filters the result down to assets where sma_10 > $5.
pipe = Pipeline(
    columns={
        'sma_10': sma_10,
        'sma_30': sma_30,
    },
    screen=prices_over_5
)

In [2]:
from zipline.research import run_pipeline

# Pipeline definition goes here.

result = run_pipeline(pipe, '2020-01-01', '2020-07-03')

In [3]:
result

                                           sma_10     sma_30
date                      asset
2020-01-02 00:00:00+00:00 平安银行(000001)  16.466000  15.917667
                          万 科Ａ(000002)  31.057000  29.036333
                          国农科技(000004)  22.119000  20.578333
                          深振业Ａ(000006)   5.313000   5.226000
                          全新好(000007)    9.758000   9.980333
...                                           ...        ...
2020-07-03 00:00:00+00:00 国盛智科(688558)  43.950000  43.950000
                          吉贝尔(688566)   45.001000  45.152667
                          凌志软件(688588)  44.367399  44.855653
                          金博股份(688598)  87.695000  88.262333
                          天合光能(688599)  16.500000  16.703333

[352261 rows x 2 columns]